@model FarmManagement.BL.Domain.Animal

@{
    ViewBag.Title = "Details Animal";
}

<h2 class="mb-3">Animal Details</h2>

<input type="hidden" id="currentAnimalId" value="@Model.Id" />

<div>
    <table>
        <tr>
            <th>Type</th>
            <td>&nbsp;</td>
            <td>@Model.Type</td>
        </tr>
        <tr>
            <th>Species</th>
            <td>&nbsp;</td>
            <td>@Model.Species</td>
        </tr>
        <tr>
            <th>Lifespan</th>
            <td>&nbsp;</td>
            <td>@Model.Lifespan <text>yrs</text></td>
        </tr>
        <tr>
            <th>Average weight</th>
            <td>&nbsp;</td>
            <td>@Model.AverageWeight <text>kg</text></td>
        </tr>
    </table>
</div>

<div id="farms-section" class="mt-4">
    <h3>Farms</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Size In Hectares</th>
                <th>Established Year</th>
                
            </tr>
        </thead>
        <tbody id="farmsTableBody" class="table-group-divider">
        
        </tbody>
    </table>
</div>

<div class="mt-4">
    <h3>Add Farm</h3>
    <form id="addFarmForm">
        <div class="mb-3">
            <label for="farmSelect" class="form-label">Farm</label>
            <select id="farmSelect" class="form-select" required>
                <option value="" disabled selected> --- Select a farm ---</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="countInput" class="form-label">Count</label>
            <input type="number" id="countInput" class="form-control" min="1" value="1" required />
        </div>
        <button id="btn-submit" type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

@section Scripts {
<script defer src="/js/animal/details.js"></script>
}