@model FarmManagement.BL.Domain.Farm


@{
    ViewData["Title"] = "Details Farm";
}
<input type="hidden" id="farmId" value="@Model.Id" />
<h2 class="mb-3">Farm Details</h2>
<div>
    <table>
        <tr>
            <th>Name</th>
            <td>&nbsp;</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>&nbsp;</td>
            <td>@Model.Location</td>
        </tr>
        @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Maintainer.UserName)
        {
            <tr>
                <th>Size in Hectares</th>
                <td>&nbsp;</td>
                <td>
                    <span class="ms-3">
                        <input type="number" id="inputSize" value="@Model.SizeInHectares" 
                               step="0.01" style="width: 80px;" class="form-control-sm d-inline" />
                        <button class="btn btn-sm btn-outline-primary" id="buttonSave" >Save</button>
                    </span>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <th>Size in Hectares</th>
                <td>&nbsp;</td>
                <td>@(Model.SizeInHectares.HasValue ? $"{Model.SizeInHectares}" : "Unknown")</td>
            </tr>
        }
        <tr>
            <th>Established Year</th>
            <td>&nbsp;</td>
            <td>@Model.EstablishedYear</td>
        </tr>
    </table>
    <p class="">Maintained by @Model.Maintainer.UserName</p>
</div>

<h2 class="mt-3">Animals</h2>
<div>
    @if (Model.FarmAnimals == null || !Model.FarmAnimals.Any())
    {
        <p>This Farm has no animals</p>
    } else {
        <table class="table">
            <thead>
            <tr>
                <th>Count</th>
                <th>Type</th>
                <th>Species</th>
                <th>Lifespan</th>
                <th>Average weight</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">

            @foreach (var animalItem in Model.FarmAnimals)
            {
                <tr>
                    <td>@animalItem.Count</td>
                    <td>@animalItem.Animal.Type</td>
                    <td>@animalItem.Animal.Species</td>
                    <td>@animalItem.Animal.Lifespan <text>yrs</text></td>
                    <td>@animalItem.Animal.AverageWeight <text>kg</text></td>
                    <td><a asp-controller="Animal" asp-action="Details" asp-route-id="@animalItem.Animal.Id">Details</a></td>
                </tr>
            }
           
            </tbody>
        </table>
    }
</div>


@section Scripts
{
    <script defer src="/js/farm/details.js"></script>
}
